<!-- <p>
  Server Name : <input type="text" (input)="onServerNameInput($event)" > {{serverNameInput}}
</p> -->
<p>
    Server Name : <input type="text" (input)="onServerNameInput($event)" > 
  </p>
<!-- <p><input type="text" [(ngModel)]="serverNameInput" ></p> -->
<button class="btn btn-primary" [disabled]="!allowAddServer" (click)="onAddNewServer()">Add Server</button>
<p *ngIf="isServerCreated">New server created, server name is {{serverNameInput}}</p>
<!-- <p *ngIf="isServerCreated; else noServer">New server created, server name is {{serverNameInput}}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>